*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html,body{
height:100%;
background:#0f172a;
overflow:hidden;
touch-action:pan-y;
}

.background{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at 20% 30%, rgba(124,58,237,.15), transparent 40%),
radial-gradient(circle at 80% 70%, rgba(255,0,0,.15), transparent 40%);
animation:move 8s infinite alternate;
z-index:0;
}

@keyframes move{
from{transform:translateY(-10px)}
to{transform:translateY(10px)}
}

.app{
position:relative;
z-index:1;
height:100%;
display:flex;
align-items:center;
justify-content:center;
padding:15px;
}

.screen{
position:absolute;
width:100%;
max-width:420px;
opacity:0;
transform:translateX(100%);
transition:all .4s ease;
}

.screen.active{
opacity:1;
transform:translateX(0);
}

h1{
color:white;
font-size:22px;
margin-bottom:5px;
text-align:center;
}

.subtitle{
color:#94a3b8;
font-size:14px;
text-align:center;
margin-bottom:20px;
}

.card{
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
border-radius:20px;
padding:25px;
box-shadow:0 20px 50px rgba(0,0,0,.6);
}

.price{
text-align:center;
margin-bottom:20px;
color:#cbd5e1;
}

.price span{
font-size:26px;
font-weight:700;
color:#a855f7;
}

input{
width:100%;
padding:14px;
margin-bottom:15px;
border-radius:12px;
border:none;
background:#1e293b;
color:white;
font-size:14px;
outline:none;
}

.btn{
width:100%;
padding:14px;
border:none;
border-radius:30px;
font-weight:600;
cursor:pointer;
margin-bottom:10px;
transition:.2s;
}

.btn:active{
transform:scale(.96);
}

.primary{
background:linear-gradient(45deg,#ff0000,#7c3aed);
color:white;
}

.mpesa{
background:#e60000;
color:white;
}

.emola{
background:#ff7a00;
color:white;
}

.copy{
background:#22c55e;
color:white;
}

.confirm{
background:#3b82f6;
color:white;
}

.back{
display:block;
text-align:center;
font-size:12px;
color:#94a3b8;
margin-top:5px;
cursor:pointer;
}

.hidden{
visibility:hidden;
}

.number{
text-align:center;
font-size:18px;
margin-bottom:15px;
font-weight:600;
color:#fff;
}

.toast{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:#22c55e;
color:white;
padding:10px 20px;
border-radius:30px;
display:none;
}
